@media (min-width: 980px) {
    .gebo-fixed {
        max-width: 1100px;
        margin: 0 auto;
    }
}
.sidebar_hidden {
    background: #fff;
}
body {
    font-size: 13px;
    line-height: 18px;
}
html, body {
    height: 100%;
}
body {
    color: #222;
    padding: 0;
}
body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Bai Jamjuree", serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: #fff;
}

.sidebar_hidden .main_content {
    margin: 0;
    border-left: none;
}
.main_content {
    padding: 64px 30px 30px;
    background: #fff;
    border-left: 0px solid transparent;
    margin-left: 240px;
}

@media (min-width: 980px) {
    .gebo-fixed #maincontainer {
        border-right: 0px solid #ccc;
        border-left: 0px solid #ccc;
    }
}
.sidebar_hidden #maincontainer {
    background: #fff;
}
#maincontainer {
    min-height: 100%;
}
.clearfix {
}

#contentwrapper {
    float: left;
    width: 100%;
}

h3 {
    line-height: 27px;
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h3 {
    font-size: 18px;
    line-height: 27px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 700;
    color: inherit;
    text-rendering: optimizelegibility;
    margin: 0;
}

@media (min-width: 1200px) {
    .row-fluid {
        width: 100%;
    }
}
.row-fluid {
    width: 100%;
}

@media (min-width: 1200px) {
    .row-fluid [class*="span"]:first-child {
        margin-left: 0;
    }
}
.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}
.row-fluid div[class*="span"] {
    min-height: 1px;
}
@media (min-width: 1200px) {
    .row-fluid .span12 {
        width: 100%;
    }
}
@media (min-width: 1200px) {
    .row-fluid [class*="span"] {
        display: block;
        float: left;
        width: 100%;
        min-height: 30px;
        margin-left: 2.564102564102564%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}
.row-fluid .span12 {
    width: 100%;
}
.row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.127659574468085%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width: 1200px) {
    .span12 {
        width: 1170px;
    }
}
@media (min-width: 1200px) {
    [class*="span"] {
        float: left;
        min-height: 1px;
        margin-left: 30px;
    }
}
.span12 {
    width: 940px;
}
[class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
}

.user_list {
    list-style: none;
    margin: 0;
}
ul, ol {
    padding: 0;
    margin: 0 0 10px 25px;
}

.user_list li {
    padding: 0 8px 8px;
    margin-bottom: 8px;
    border-bottom: 1px dashed #dcdcdc;
    line-height: normal;
}
.main_content li {
    line-height: 25px;
}
li {
    line-height: 20px;
}

.label-info, .badge-info {
    background: #058DC7;
}
.label {
    cursor: default;
    font-size: 11px;
    padding: 2px 4px;
}
.label-info, .badge-info {
    background-color: #3a87ad;
}
.label {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.label, .badge {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #800000;
}

.pull-left {
    float: left;
}
.thumbnail {
    display: block;
    padding: 4px;
    line-height: 20px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.thumbnail>img {
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h3 small, h4 {
    font-size: 14px;
}
h4, h5, h6 {
    line-height: 18px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 700;
    color: inherit;
    text-rendering: optimizelegibility;
    margin: 0;
}

img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
